/* body { max-width: 600px;
     margin: 0 auto; 
     padding: 1rem; 
    } */

/* header {
        margin-bottom: 40px;
        font-size: 40px;
    }
input {
    padding: 20px 10px;
}

input::placeholder{
    font-size: 20px;
} */

/* ul { list-style-type: none; 
    padding: 0; 
} */
    
/* li { display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 0.5rem 0; 
}

.done { text-decoration: line-through; 
    color: gray; 
}
   
button { margin-left: 0.5rem; 
    padding: 20px 10px;
    background-color: aqua;
}  */

body {
  background-color: #f4f6f8;
  font-family: 'Segoe UI', sans-serif;
  color: #333;
}


header {
        margin-bottom: 40px;
        font-size: 40px;
    }

h1 {
  text-align: center;
  color: #2c3e50;
}

input[type="text"] {
  width: 70%;
  padding: 10px;
  margin: 10px 0;
  font-size: 20px;
  border: 2px solid lightpink;
  border-radius: 5px;
}

button {
  padding: 10px;
  border: none;
  background-color: #81274e;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  
}

button:hover {
  background-color: #27ae60;
}

ul {
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.done {
  text-decoration: line-through;
  color: gray;
}



